/* Variables para reutilizar en el codigo */
:root {
  --blanco: #fff;
  --negro: #111111;
  --gris: #343a40;
  --fuentePrincipal: 'Raleway', sans-serif;
}

/* Globales */
html {
  /* 1rem == 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Establecer el fondo blanco */
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.2;
  margin: 1rem 0 4rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.contenedor {
  /* width: 90%; */
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* HEADER */
.header {
  background-color: #333;
  color: var(--blanco);
  padding: 1rem 0;
  text-align: center;
}

/* Estilos para el logo */
.header__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* Estilos para la navegacion */
.header__nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-list {
  text-align: center;
}

.header__nav-item {
  margin-bottom: 1rem;
}

.header__nav-link {
  text-decoration: none;
  color: var(--blanco);
  font-weight: bold;
  transition: background-color 0.3s color 0.3s;
  -webkit-transition: background-color 0.3s color 0.3s;
  -moz-transition: background-color 0.3s color 0.3s;
  -ms-transition: background-color 0.3s color 0.3s;
  -o-transition: background-color 0.3s color 0.3s;
  padding: 0.5rem 1rem;
}

/* Estilo para los enlaces de navegacion al hacer hover */
.header__nav-link:hover {
  background-color: #007bff;
  color: var(--blanco);
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .header__logo {
    display: block;
    margin: 0;
    margin-bottom: 0;
  }

  .header__nav-list {
    text-align: left;
  }

  .header__nav-item {
    display: inline;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

/* MAIN */

.main {
  padding: 2rem;
}

.main__title {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 1rem;
}

.main__descripcion {
  font-size: 1.6rem;
  color: #777;
}

.main__category {
  background-color: var(--blanco);
  border: 1px solid #e6e6e6;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 2rem;
}

.main__category-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

/* CARDS */
.main__books {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}

.book {
  width: 25rem;
  height: 44rem;
  border: 1px solid #ddd;
  /* padding: 10px; */
  text-align: center;
  margin-right: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2 ease, box-shadow 0.2 ease;
  -webkit-transition: transform 0.2 ease, box-shadow 0.2 ease;
  -moz-transition: transform 0.2 ease, box-shadow 0.2 ease;
  -ms-transition: transform 0.2 ease, box-shadow 0.2 ease;
  -o-transition: transform 0.2 ease, box-shadow 0.2 ease;
  cursor: pointer;
}

.book__cover {
  flex: 1;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.book__title {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: #333;
  transition: font-size 0.2s ease, color 0.2s ease;
  -webkit-transition: font-size 0.2s ease, color 0.2s ease;
  -moz-transition: font-size 0.2s ease, color 0.2s ease;
  -ms-transition: font-size 0.2s ease, color 0.2s ease;
  -o-transition: font-size 0.2s ease, color 0.2s ease;
}

/* Efecto Hover de los libros */
.book:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.book:hover .book__title {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
}

.footer {
  background-color: #333;
  color: var(--blanco);
  padding: 2rem 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo {
  flex: 1;
  max-width: 20rem;
}

.footer__logo-image {
  width: 100%;
  height: auto;
}

.footer__info {
  flex: 1;
}

.footer__info-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer__info-text {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.footer__social {
  flex: 1;
}

.footer__social-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer__social-list {
  list-style: none;
  padding: 0;
}

.footer__social-item {
  margin-bottom: 0.5rem;
}

.footer__social-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;

  &:hover {
    color: #007bff;
  }
}
